[Desktop Entry]
Version=1.0
Type=Application
Name=DownloadThis
GenericName=Audio Downloader
Comment=Extract audio locally with a vintage yt-dlp GUI
Exec=downloadthis %U
Icon=dev.d4vram.downloadthis
Terminal=false
Categories=AudioVideo;Audio;
StartupWMClass=downloadthis
Keywords=youtube;soundcloud;download;audio;music;yt-dlp;
